* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  animation: 4700ms scroll__lock linear forwards;
}

.loading__screen {
  position: fixed;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  animation: 1500ms disappearing 3200ms linear forwards;
  z-index: 50;
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, transparent, transparent 40%, hsl(130, 80%, 50%));
  animation: 1000ms rotation__anim linear forwards;
  animation-iteration-count: 3;
}

.circle::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: black;
  border-radius: 50%;
  z-index: 10;
}

.circle::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  background-image: linear-gradient(45deg, transparent, transparent 40%, hsl(130, 80%, 50%));
  border-radius: 50%;
  z-index: 1;
  filter: blur(30px);
}

.count__percenage::after {
  content: "0%";
  position: absolute;
  width: 40px;
  height: 20px;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  color: white;
  animation: 3000ms countdown linear forwards;
}

@keyframes rotation__anim {
  to {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes disappearing {
  to {
    transform: translateY(-100%);
  }
}

@keyframes scroll__lock {
  0% {
    overflow-y: hidden;
  }

  99.9% {
    overflow-y: hidden;
  }

  100% {
    overflow-y: auto;
  }
}

@keyframes countdown {
  0% {
    content: "0%";
  }
  5% {
    content: "5%";
  }
  9% {
    left: calc(50% - 10px);
  }
  10% {
    content: "10%";
    left: calc(50% - 15px);
  }
  15% {
    content: "15%";
  }
  20% {
    content: "20%";
  }
  25% {
    content: "25%";
  }
  30% {
    content: "30%";
  }
  35% {
    content: "35%";
  }
  40% {
    content: "40%";
  }
  45% {
    content: "45%";
  }
  50% {
    content: "50%";
  }
  55% {
    content: "55%";
  }
  60% {
    content: "60%";
  }
  65% {
    content: "65%";
  }
  70% {
    content: "70%";
  }
  75% {
    content: "75%";
  }
  80% {
    content: "80%";
  }
  85% {
    content: "85%";
  }
  90% {
    content: "90%";
  }
  95% {
    content: "95%";
  }
  99% {
    left: calc(50% - 15px);
  }
  100% {
    content: "100%";
    left: calc(50% - 20px);
  }
}