/*Переменные
==========================================*/

:root {
    --red: #ff2d2d;
    --light-red: #ff3f40;
    --dark: #000;
    --grey: #313030;
    --white: #fff;
    --cream: #f5f0dd;
}


/*Подключение шрифтов
==========================================*/

@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSans-Regular.ttf);

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSans-Semibold.ttf);

    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSans-Bold.ttf);

    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSans-ExtraBold.ttf);

    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSans-Italic.ttf);

    font-weight: 400;
    font-style: italic;
}


/*Общие стили
============================================*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    scroll-behavior: smooth;
    cursor: url(../media/cursors/default.png), default;
}

body {
    font-family: "OpenSans";
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 18%, 96%);
    box-shadow: 0 0 10px hsl(0, 18%, 83%) inset;
}

::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 5px;
    border: 2px solid hsl(0, 18%, 96%);;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 100%, 39%);
}

a {
    cursor: url(../media/cursors/pointer.png), pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*Кнопка
--------------------------*/
.btn {
    display: inline-block;
    height: 55px;
    width: 225px;
    border-radius: 5px;

    text-align: center;
    text-decoration: none;
    font-weight: 700;
    line-height: 55px;
}

/*Container
--------------------------*/

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

/* Anchors
========================================= */

.anchor {
    position: fixed;
    z-index: 9;
    right: 20px;
    width: 50px;
    height: 50px;
    border: 2px solid var(--white);
    border-radius: 50%;
    background-color: var(--grey);
    background-image: url(../media/icons/white_arrow.png);
    background-size: cover;
}

.anchor__top {
    bottom: 120px;
    transform: rotateZ(-90deg);
}

.anchor__bottom {
    bottom: 50px;
    transform: rotateZ(90deg);
}



/*Header
===========================================*/

.header {
    padding-top: 30px;
    background-color: #f6f2f2;
}

/*Navigation bar
----------------------*/

.header__navbar {
    position: relative;
    width: 100%;
    height: 90px;
    background-color: var(--grey);
    text-align: center;
}

.navbar__link {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: auto;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
    text-decoration: none;
    color: #e0e0e0;
    transition-property: background-color;
    transition-duration: 500ms;
}

.navbar__link:hover {
    background-color: var(--light-red);
}
.navbar__link:active {
    background-color: var(--light-red);
}


/*Header content
---------------------*/

.header__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 120px;
}

.content__info {
    max-width: 600px;
    height: 350px;
}

.header__title {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header__title > span {
    letter-spacing: 4px;
}

.header__subtitle {
    letter-spacing: 0.05em;
    line-height: 1.75;
    opacity: .7;
    margin-bottom: 45px;
}

.contact_us {
    background-color: var(--red);

    color: var(--white);
    transition-duration: 200ms;
    transition-property: background-color;
}

.contact_us:hover {
    background-color: var(--light-red);
    text-decoration: underline;
}
.contact_us:active {
    background-color: var(--light-red);
    text-decoration: underline;
}


.content__video {
    position: relative;
    margin-left: 30px;
    max-width: 550px;
    max-height: 350px;
    box-shadow: 0 0 40px hsl(0, 0%, 30%);
}

.custom__play__button {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 70px;
    background-image: url(../media/icons/play_icon.png);
    transform: translateX(-50%) translateY(-50%);
}

.content__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*Main
=============================================*/

.main {
    margin-bottom: 110px;
}

/*Functions
--------------------------*/

.main__fuctions {
    display: flex;
    justify-content: space-between;
    height: 520px;
    margin: 110px 0 65px;
}

/* Text */

.main__text {
    max-width: 500px;
}

.main__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.3;

    text-transform: uppercase;

    opacity: .8;
    margin-bottom: 35px;
}

.main__subtitle {
    line-height: 1.75;

    margin-bottom: 50px;
}

.learn__more {
    color: var(--red);

    border: 2px solid var(--red);
    transition-duration: 300ms;
}

.learn__more:hover {
    background-color: var(--red);
    color: var(--white);
    text-decoration: underline;
}
.learn__more:active {
    background-color: var(--red);
    color: var(--white);
    text-decoration: underline;
}


/* Info */

.main__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
}

.info__element {
    width: calc( 50% - 20px );
    margin-bottom: 40px;
    overflow: hidden;
}

.element__icon {
    height: 40px;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

.element__title {
    font-size: 24px;
    opacity: .7;
    margin-bottom: 10px;
}

.element__subtitle {
    line-height: 1.75;
    opacity: .7;
}

.gear {
    background-image: url(../media/icons/gear.png);
}

.pencil {
    background-image: url(../media/icons/pencil.png);
}

.diamond {
    background-image: url(../media/icons/diamond.png);
}

.truck {
    background-image: url(../media/icons/truck.png);
}

/*Splitter
------------------------------*/

.splitter__anchor {
    height: 2px;
    background-color: #ececec;
}


/*Features
-------------------------------*/

.main__features {
    margin-top: 100px;
}

.features__title {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.05em;

    opacity: .8;

    margin-bottom: 20px;
}

.features__subtitle {
    text-align: center;
    line-height: 1.75;
    opacity: .7;

    margin-bottom: 30px;
}

.features__splitter {
    height: 2px;
    width: 130px;
    background-color: var(--red);
    margin: 0 auto;
}

.features__filter {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.features__link {
    font-size: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--dark);
    opacity: .7;
    margin: 0 25px;
    transition-property: color;
    transition-duration: 250ms;
}

.features__link.active {
    color: var(--red);
    opacity: 1;
}

.features__link:hover {
    color: var(--red);
    opacity: 1;
}
.features__link:active {
    color: var(--red);
    opacity: 1;
}

.features__portfolio {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio__example {
    width: calc(25% - (60px / 4));
    height: 290px;
    background-color: var(--cream);
    margin-bottom: 20px;
    background-size: cover;
    transition: 300ms linear;
    transition-property: transform, box-shadow;
    cursor: url(../media/cursors/pointer.png), pointer;
}

.portfolio__example:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 10px 2px var(--grey);
}
.portfolio__example:active {
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 10px 2px var(--grey);
}

.ex__1 {
    background-image: url(../media/images/features/section_1.jpg);
}
.ex__2 {
    background-image: url(../media/images/features/section_2.jpg);
}
.ex__3 {
    background-image: url(../media/images/features/section_3.jpg);
}
.ex__4 {
    background-image: url(../media/images/features/section_4.jpg);
}
.ex__5 {
    background-image: url(../media/images/features/section_5.jpg);
}
.ex__6 {
    background-image: url(../media/images/features/section_6.jpg);
}
.ex__7 {
    background-image: url(../media/images/features/section_7.jpg);
}
.ex__8 {
    background-image: url(../media/images/features/section_8.jpg);
}


/*Team
-----------------------*/

.main__team {
    margin-top: 100px;
}

.team__title {
    margin-left: -10px;
    margin-bottom: 25px;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    opacity: .8;
}

.team__subtitle {
    display: inline-block;
    vertical-align: middle;
    width: 450px;
    margin-bottom: 30px;

    line-height: 1.75;
    opacity: .7;
}

.team__splitter {
    height: 2px;
    width: 130px;
    background-color: var(--red);
}

.team__members {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.member__photo {
    width: 320px;
    height: 460px;
    background-color: var(--cream);
    background-image: url(../media/images/team/portrait.jpg);
    background-size: cover;
    transition-duration: 500ms;
    transition-property: filter;
}

.member__photo:hover {
    filter: contrast(1.2);
}
.member__photo:active {
    filter: contrast(1.2);
}

.other__members {
    width: 850px;
    height: 460px;
    padding-top: 10px;
}

.member__description {
    height: 110px;
    margin-bottom: 40px;
}

.member__name {
    font-size: 30px;
    font-weight: 600;
    opacity: .8;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

.member__info {
    display: inline-block;
    vertical-align: middle;
    width: 640px;
    overflow: hidden;
    line-height: 1.75;
    opacity: .7;
}

.member__social {
    display: flex;
    margin-bottom: 60px;
}

.member__social__link {
    font-size: 19px;
    font-style: italic;
    letter-spacing: 0.05em;
    opacity: .8;
    text-decoration: none;
    color: var(--dark);
    margin-right: 30px;
    transition-duration: 250ms;
    transition-property: opacity, filter;
}

.member__social__link:hover {
    opacity: 1;
    filter: drop-shadow(0 0 1px black);
}
.member__social__link:active {
    opacity: 1;
    filter: drop-shadow(0 0 1px black);
}

.member__list {
    display: flex;
    justify-content: space-between;
}

.list__unit {
    position: relative;
    width: calc( (100% - ( 20px * 3) )  / 4 );
    height: 215px;
    background-color: var(--cream);
    overflow: hidden;
    cursor: url(../media/cursors/pointer.png), pointer;
}

.unit_1 {
    background-image: url(../media/images/team/woman_1.jpg);
    background-size: cover;
}

.unit_2 {
    background-image: url(../media/images/team/man_1.jpg);
    background-size: cover;
}

.unit_3 {
    background-image: url(../media/images/team/man_2.jpg);
    background-size: cover;
}

.unit_4 {
    background-image: url(../media/images/team/man_3.jpg);
    background-size: cover;
}

.hidden__info {
    position: absolute;
    left: 0;
    bottom: -35px;
    width: 100%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    transition-property: bottom;
    transition-duration: 300ms;
}

.hidden__info span {
    opacity: 1;
    color: var(--white);
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

.list__unit:hover .hidden__info {
    bottom: 0;
}
.list__unit:active .hidden__info {
    bottom: 0;
}


/*Subscribe
============================================*/

.subscribe {
    background-color: var(--cream);
    padding: 130px 0;
    background-image: url(../media/images/subscribe_bg.jpg);
    background-size: cover;
}

.subscribe__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.75;
    margin-bottom: 30px;
    text-align: center;
    color: var(--white);
    letter-spacing: 0.04em;

}

.subscribe__subtitle {
    line-height: 1.75;
    color: var(--white);
    margin-bottom: 50px;
    text-align: center;
}

.subscribe__form {
    display: flex;
    justify-content: center;
}

.form__email {
    width: 520px;
    height: 80px;
    border: none;
    border-radius: 7px;
    font-family: "OpenSans";
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: var(--dark);
    padding-left: 30px;
    padding-right: 10px;
}

.form__email:focus {
    outline: none;
    border: 2px solid var(--red);
}

.form__email::placeholder {
    opacity: .7;
}

.form__submit {
    width: 210px;
    height: 80px;
    border: none;
    border-radius: 7px;
    background-color: var(--red);
    text-transform: uppercase;
    color: var(--white);
    font-family: "OpenSans";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.04em;
    margin-left: 20px;
    cursor: url(../media/cursors/pointer.png), pointer;
    transition: 200ms linear;
}

.form__submit:hover {
    text-decoration: underline;
    background-color: var(--light-red);
}
.form__submit:active {
    text-decoration: underline;
    background-color: var(--light-red);
}

/*Contact
==========================================*/

.contact {
    padding: 100px 0;
    overflow-x: hidden;
}

.container__relative {
    position: relative;
}

/*Content
--------------------------*/

.contact__content {
    width: 730px;
    margin-right: 100px;
}

.contact__title {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: .8;
    margin-bottom: 40px;
}

.contact__subtitle {
    opacity: .7;
    line-height: 1.75;
    margin-bottom: 50px;
}

.contact__split {
    height: 2px;
    width: 130px;
    background-color: var(--red);
    margin-bottom: 70px;
}

/*Form
--------------------------*/

.form__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.form__top input {
    height: 70px;
    width: 330px;
    background-color: #e5e5e5;
    font-family: "OpenSans";
    font-size: 18px;
    color: var(--dark);
    opacity: .7;
    padding-left: 50px;
    padding-right: 10px;
    border: none;
    border-radius: 7px;
}

.form__top input:focus {
    outline: none;
    border: 2px solid var(--red);
}

.form__bottom__text {
    width: 100%;
    height: 250px;
    background-color: #e5e5e5;
    padding: 30px 50px;
    font-family: "OpenSans";
    font-size: 16px;
    color: var(--dark);
    opacity: .7;
    margin-bottom: 40px;
    border: none;
    border-radius: 7px;
    resize: none;
}

.form__bottom__text:focus {
    outline: none;
    border: 2px solid var(--red);
}

.bottom__submit {
    width: 100%;
    height: 70px;
    font-family: "OpenSans";
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--red);
    border: none;
    border-radius: 7px;
    cursor: url(../media/cursors/pointer.png), pointer;
    transition: 200ms linear;
}

.bottom__submit:hover {
    text-decoration: underline;
    background-color: var(--light-red);
}
.bottom__submit:active {
    text-decoration: underline;
    background-color: var(--light-red);
}

/*Contact Info
-------------------------------*/

.contact__info {
    position: absolute;
    width: 900px;
    height: 480px;
    background-color: var(--grey);
    bottom: 0;
    left: 65%;
}

.container__contact__info {
    width: 300px;
    margin: 140px 70px;
    color: var(--white);
    opacity: .8;
}

.contact__info__title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    cursor: default;
}

.contact__info__subtitle {
    line-height: 1.75;
    margin-bottom: 30px;
}

.contact__info__email {
    margin-bottom: 30px;
}

.contact__info__phone {
    margin-bottom: 30px;
}


/*Footer
==========================================*/
.footer {
    background-color: var(--grey);
    padding-top: 40px;
    padding-bottom: 30px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    line-height: 1.75;
    color: #b8b8b8;
}

.footer__social .social {
    display: inline-block;
    vertical-align: middle;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 15px;
}

.footer__social .social:hover {
    background-color: var(--red);
}
.footer__social .social:active {
    background-color: var(--red);
}

.twitter {
    background-image: url(../media/icons/twitter.png);
    background-size: cover;
}

.in_social {
    background-image: url(../media/icons/in.png);
}

.google {
    background-image: url(../media/icons/google.png);
}

.facebook {
    background-image: url(../media/icons/facebook.png);
}
