@media (max-width: 1259px) {
  /* Header */
  .header__content {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Functions */
  .main__fuctions {
    padding: 0 10px;
  }

  /* Team */
  .team__title {
    margin-left: 0;
  }

  .main__team {
    padding: 0 10px;
  }

  .other__members {
    margin-left: 10px;
  }

  .member__list {
    justify-content: space-around;
  }

  /* Contact */
  .contact__content {
    padding-left: 10px;
  }

  /* Footer */
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 1199px) {
  
  /* Header */
  
  .header__content {
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .content__info {
    margin-right: 30px;
  }
  .content__video {
    margin-top: 40px;
    margin-left: 0;
  }

  /* Functions */
  .main__fuctions {
    height: auto;
    margin: 50px 0 30px;
  }
}


@media (max-width: 1129px) {
  /* Subscribe */
  .subscribe {
    padding: 70px 0;
  }


  /* Contact */
  .contact {
    text-align: center;
    padding: 50px 0;
  }
  .contact__info {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 300px;
    width: 100%;
  }

  .contact__content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }

  .contact__split {
    width: 100%;
  }

  .container__contact__info {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  /* Main */
  .main {
    margin-bottom: 80px;
  }

  /* Functions */
  .main__fuctions {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .main__text {
    margin-bottom: 40px;
  }

  .main__info {
    width: 100%;
  }

  .info__element {
    width: calc(50% - 20px);
    text-align: left;
  }

  /* Features */
  .features__portfolio {
    justify-content: flex-start;
  }

  .portfolio__example {
    width: calc(33% - (60px / 3));
    margin-right: 10px;
    margin-left: 10px;
  }

  /* Team */
  .main__team {
    height: auto;
  }

  .main__team {
    margin-top: 50px;
  }

  .other__members {
    margin-left: 0;
  }

  .team__members {
    flex-wrap: wrap;
    justify-content: center;
  }

  .member__description {
    text-align: center;
  }

  .member__list {
    justify-content: space-between;
  }

  .member__social {
    justify-content: center;
  }
}

@media (max-width: 950px) {
  .features__title {
    font-size: 36px;
  }
  .features__link {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .anchor {
    width: 30px;
    height: 30px;
    right: 10px;
  }
  .anchor__top {
    bottom: 60px;
  }
  .anchor__bottom {
    bottom: 10px;
  }

  .container {
    max-width: none;
  }

  /* Header */
  .header__title {
    font-size: 46px;
  }
  .content__video {
    margin-top: 20px;
  }

  /* Main */
  .main__title {
    font-size: 36px;
  }

  .portfolio__example {
    width: calc(50% - (40px / 2));
  }

  /* Features */
  .features__filter {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .features__link {
    font-size: 20px;
    margin-top: 10px;
  }

  /* Team */
  .team__title {
    font-size: 36px;
  }

  .other__members {
    height: auto;
  }

  .member__list {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .list__unit {
    width: calc(50% - 20px);
    height: 300px;
    margin-bottom: 20px;
  }
}

@media (max-width: 730px) {
  .subscribe__title, .subscribe__subtitle, .subscribe__form {
    padding: 0 10px;
  }

  .contact__content {
    width: 100%;
    max-width: 730px;
  }
  .contact__subtitle {
    padding: 0 10px;
  }
  .form__top {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  .form__top input {
    margin: 10px 5px;
    width: 95%;
  }
  .form__bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .form__bottom__text {
    width: 95%;
    padding: 10px;
  }
  .bottom__submit {
    width: 95%;
  }
}

@media (max-width: 676px) {
  .main h2 {
    font-size: 32px;
  }
  .main h3 {
    font-size: 24px;
  }
  .main__features {
    margin-top: 60px;
  }

  .header__title {
    font-size: 36px;
    white-space: normal;
  }
  .header__subtitle {
    font-size: 16px;
    white-space: normal;
  }
  .content__info {
    margin-right: 0;
  }
  .content__video {
    margin-top: 0;
  }

  .features__filter {
    flex-wrap: wrap;
  }

  .team__subtitle {
    width: 100%;
    max-width: 450px;
  }

  .other__members {
    width: 100%;
    max-width: 850px;
  }

  .member__info {
    width: 100%;
    max-width: 600px;
  }

  .member__social {
    flex-wrap: wrap;
  }

  .subscribe__form {
    flex-wrap: wrap;
  }
  .form__submit {
    margin-top: 20px;
  }

  .contact__title {
    font-size: 32px;
  }
}

@media (max-width: 540px) {

  

  /* Header */
  .header {
    padding-top: 0;
  }

  /* Portfolio */
  .features__portfolio {
    justify-content: center;
  }
  .portfolio__example {
    width: 90%;
    background-position-y: 50%;
  }

  /* Main */
  .member__list {
    flex-direction: column;
  }
  .list__unit {
    width: 100%;
    max-width: 300px;
  }

  /* Subscribe */
  .subscribe__title {
    font-size: 36px;
  }
  /* Contact */
  .contact {
    padding-bottom: 0;
  }
  .contact__split {
    margin-bottom: 15px;
  }

  /* Footer */
  .footer .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__copyright {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  html, body {
    overflow-x: hidden;
  }

  .navbar__link {
    display: none;
  }
  .header__navbar {
    height: 50px;
  }

  /* Burger */
  .burger__input__label {
    display: inline-block;
  }
  .burger__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .main__info {
    flex-direction: column;
    align-items: center;
  }
  .info__element {
    width: 100%;
    max-width: 300px;
    margin-bottom: 80px;
  }
  .info__element:last-child {
    margin-bottom: 40px;
  }
  .main__text {
    margin-bottom: 60px;
  }
  /* Members */
  .member__description {
    height: auto;
    margin-bottom: 0;
  }
  .member__social {
    margin-bottom: 20px;
  }
  .member__social__link {
    margin: 15px;
  }
}

@media (max-width: 370px) {
  .header__title {
    font-size: 24px;
  }
  
  .header__subtitle {
    font-size: 14px;
  }
  /* Main */
  .main h2 {
    font-size: 20px;
  }
  .main h3 {
    font-size: 18px;
  }

  /* Subscribe */
  .subscribe__title {
    font-size: 24px;
  }
  .subscribe__subtitle {
    font-size: 14px;
  }
  .form__email {
    height: 60px;
  }
  .form__submit {
    height: 60px;
    margin: 0;
    margin-top: 20px;
  }

  /* Contact */
  .contact__title {
    font-size: 18px;
  }
  .form__top input {
    height: 60px;
    padding-left: 10px;
  }
  .bottom__submit {
    height: 60px;
  }
  /* Footer */
  .footer__copyright {
    text-align: center;
  }
}